@model IEnumerable<GeneratorBase.MVC.Models.T_School>
@{
    ViewBag.Title = "School List";
	Layout ="~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-title">
            <i class="glyphicon glyphicon-thumbs-up text-primary" style="margin-bottom:-20px;"></i> School  <i class="glyphicon glyphicon-chevron-right small"></i>  <span>List</span>
</h1>
    </div>
</div>
<div id="dvT_SchoolFilter"></div>
@Html.Partial("~/Views/T_School/IndexPartial.cshtml", Model)

